  <style>
    .sidebar ul {
      list-style: none;
      padding: 0;
    }
    .sidebar li {
      margin-bottom: 10px;
    }
    .sidebar a {
      text-decoration: none;
    }
    .bold {
      font-weight: bold;
    }
    .container-sidebar{
      display:flex;
      scroll-behavior: smooth;
    }
    .article-content{
      max-width: 70%;
    padding: 60px;
    }
    .sidebar-container{
      background: #F5F6F4;
      flex-grow: 1;
    padding: 50px 60px 60px 60px;

    }
    .sidebar{
    
    position: sticky;
    top: 10rem;
    height: fit-content;
    background: #F5F6F4;
    }
    .sidebar h2{
      color:#004289;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

    }
    
  </style>
<div class="container-sidebar">
  

<div class="article-content">
  {{ page.content }}
</div>
  <div class="sidebar-container">
  <div class="sidebar">
    <h2>Sidebar</h2>
    <ul id="sidebarTitles"></ul>
  </div>
    </div>
</div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const articleContent = document.querySelector('.article-content');
      const sidebarTitles = document.getElementById('sidebarTitles');
      const headings = articleContent.querySelectorAll('h2');

    headings.forEach(function(heading, index) {
      if (!heading.id) {
        heading.id = `section-${index + 1}`; // Creating IDs like section-1, section-2, etc.
      }

      const listItem = document.createElement('li');
      const link = document.createElement('a');
      link.textContent = heading.textContent;
      link.setAttribute('href', `#${heading.id}`);
      listItem.appendChild(link);
      sidebarTitles.appendChild(listItem);
    });

    
    });
  </script>


{% schema %}
  {
    "name": "content with sidebar",
    "settings": [],
    "presets" : [
      {"name" : "content with sidebar"}
    ]
  }
{% endschema %}
