/*********************** Custom CSS for Boost AI Search & Discovery  ************************/
.boost-sd__product-image-column>div:last-child{
  width:100%;
  display:flex;
  justify-content: center;
}
.boost-sd__collection-header {
    display: flex;
    flex-direction: column-reverse;
}
.boost-sd__breadcrumb--on-top {
    margin: 0;
}
.boost-sd__breadcrumb-link{
  font-size: 12px;
  color: #004289;
}
.boost-sd__breadcrumb-link:before {
    border-bottom: 1px solid #004289;
    border-right: 1px solid #004289;
}
.boost-sd__breadcrumb-container {
    margin: 0 !important;
}
.boost-sd__filter-option-title{
    font-size: 24px;
    font-weight: 700 !important;
}
.boost-sd__filter-option-title:before,
.boost-sd__refine-by-vertical-refine-by-title{
  display:none;
}

.boost-sd__filter-option-swatch-item-img,
.boost-sd__filter-option-swatch-item-img:before{
  border-radius:0;
}
.boost-sd__refine-by-vertical-refine-by-item{
  flex-direction: row-reverse;
    justify-content: flex-end;
      text-decoration: underline !important;
}
.boost-sd__refine-by-vertical-refine-by-item svg{
  margin-left:0;
  margin-right:5px;
}