/*********************** Custom CSS for Boost AI Search & Discovery  ************************/
.boost-sd__product-image-column>div:last-child{
  width:100%;
  display:flex;
  justify-content: center;
}