/*********************** Custom CSS for Boost AI Search & Discovery  ************************/
.boost-sd__product-image-column>div:last-child{
  width:100%;
  display:flex;
  justify-content: center;
}
.boost-sd__collection-header {
    display: flex;
    flex-direction: column-reverse;
}
.boost-sd__breadcrumb--on-top {
    margin: 0;
}
.boost-sd__breadcrumb-link{
  font-size: 12px;
  color: #004289;
}
.boost-sd__breadcrumb-link:before {
    border-bottom: 1px solid #004289;
    border-right: 1px solid #004289;
}
.boost-sd__breadcrumb-container {
    margin: 0 !important;
}