.lg-heading{
    font-size:33px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    max-width: 90%;
    margin: 0 auto;
    color: #333;
}
.product-block .block-inner .vendor {
    font-weight: 700;
    letter-spacing: 1.355px;
    text-transform: uppercase;
    color: #004289;
}
.product-block__title {
    font-size: 15.812px;
    font-weight: 500;
    line-height: 130%;
    text-transform: capitalize;
    color: #004289;
}
.product-price__compare{
  color: #004289;
}
.product-price__amount--on-sale{
  color:#DA394C;
}
.product-label{
  width: 100%;
}
.product-label>span{
    width: 100%;
    background: #DA394C;
    color: white;
      padding: .3em 1em;
}
.fully-padded-row--large, .strongly-padded-row {
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-column__title {
    font-weight: 700;
    color: #333;
}
.text-column__text.rte p {
    max-width: 85%;
    margin: 0 auto;
}
.section__link{
  color: #004289 !important;
    border: 1px solid #004289 !important;
    margin: 0 auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.section-footer__row__col.footer_logo {
    max-width: 150px;
}
.section-footer__row__col.section-footer__newsletter-block {
    background: #004289;
    padding: 40px;
}
a.main-search__results-all-link.button.altcolour {
    display: none;
}
.section-footer__row__col.section-footer__newsletter-block h6 {
    color: white !important;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
button.btn.btn--primary.signup-form__button {
    width: 100%;
    background: #032C58;
    border-color: #032C58;
    color: white;
    font-weight: 700;
}
ul.social-links__list li a{
  background: #004289;
  padding: 8px;
}
ul.social-links__list li a svg g{
  fill:white;
}
.section-footer__text p a {
    color: #004289 !important;
    font-weight: 700;
  margin-left:12px;
}
.main-search__input::placeholder{
  color:#004289;
  font-weight:500;
}
  .image-grid-container {  
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "image-one main-image"
    "image-two main-image";
}

.image-one { grid-area: image-one; background: {{section.settings.image_one_background}}; }

.image-two { grid-area: image-two; background: {{section.settings.image_two_background}}; }

.main-image { grid-area: main-image; 
             position:relative; }
.image-grid_left{
  display:flex;
}
  .image-grid__image {
    max-width: 50%;
}
.image-grid__image img,
  .main-image img{
    height: 100%;
    object-fit: cover;
}
  .image-data {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  .image-data > *,
  .main-image-data > *{
    color: {{section.settings.data_text_color}};
  }
  .image-data h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .image-data div p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */

  }
  .main-image-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-image .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:block;
     color: transparent;
    background: rgba(0, 0, 0, .6);
}
.image-data__link {
  
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1rem 2rem;
}
@media screen and (min-width: 768px){
  .section-footer__row__col.footer_logo{
  margin-left: 110px;
  }
  .section-footer__text-block--with-text {
    flex-basis: 230px;
}
.custom-search .main-search__form{
  margin:0 auto;
  max-width: 95%;
}
.custom-search{
  visibility: visible !important;
  opacity:1 !important;
  pointer-events: all !important;
  position:relative !important;
}
.logo-area__left {
    order: 2;
}
.logo-area__middle--logo-image{
  order:1;
}
.logo-area__right{
  order: 3;
}
.logo-area__right {
    flex: 0 1 0;
}
.main-search__results{
  margin: 0 auto;
}
.main-search__results__products {
    margin: 0;
    position: fixed;
    width: -webkit-fill-available;
    background: #ffffffde;
    max-width: 79%;
    padding: 3rem;
}
.logo-area.container.container--no-max {
    border: none;
}

.navigation .navigation__tier-1>.navigation__item>.navigation__link {
  padding: 0 18px;
}
  .navigation{
    border:none;
  }
  .icon-with-caption {
    display: flex;
    gap: 1rem;
  align-items: flex-end;
        justify-content: center;
}
  .flexible-layout, .fixed-layout{
    margin-bottom:0 !important;
  }
  .lg-heading{
    font-size: 66px;
  }
      .custom-padding{
        padding: 70px 60px;
  }
  .section__link{
    width: 15% !important;
  }
  
}
@media screen and (min-width: 1024px){

.section-footer__row--blocks[data-num-blocks="4"] {
    gap: 110px;
}
  .section-footer__text-block--with-text{
    flex-grow:0;
  }
  }
.signup-form__inline-container button{
  border:none;
}
@media screen and (max-width:768px){
  .image-grid-container{
    display:flex;
    flex-direction:column;
  }
  .signup-form__inline-container button{
    width:100%;
  }
  .image-data{
    padding:1rem;
  }
  .image-data h2{
    font-size:24px;
  }
  .image-data__link{
    padding:1rem;
    white-space: nowrap;
  }
.image-grid_left {
    display: flex;
    flex-direction: column;
}
  .image-grid__image {
    max-width: 100%;
}
}