.lg-heading{
    font-size:33px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    max-width: 90%;
    margin: 0 auto;
    color: #333;
}
.product-block .block-inner .vendor {
    font-weight: 700;
    letter-spacing: 1.355px;
    text-transform: uppercase;
    color: #004289;
}
.product-block__title {
    font-size: 15.812px;
    font-weight: 500;
    line-height: 130%;
    text-transform: capitalize;
    color: #004289;
}
.product-price__compare{
  color: #004289;
}
.product-price__amount--on-sale{
  color:#DA394C;
}
.product-label{
  width: 100%;
}
.product-label>span{
    width: 100%;
    background: #DA394C;
    color: white;
      padding: .3em 1em;
}
.fully-padded-row--large, .strongly-padded-row {
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-column__title {
    font-weight: 700;
    color: #333;
}
.text-column__text.rte p {
    max-width: 85%;
    margin: 0 auto;
}
.section__link{
  color: #004289 !important;
    border: 1px solid #004289 !important;
    margin: 0 auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.section-footer__row__col.footer_logo {
    max-width: 150px;
    margin: 0 auto;
}
@media screen and (min-width: 768px){
  .section-footer__row__col.footer_logo{
  margin-left: 110px;
  }
.custom-search .main-search__form{
  margin:0 auto;
  max-width: 95%;
}
.custom-search{
  visibility: visible !important;
  opacity:1 !important;
  pointer-events: all !important;
  position:relative !important;
}
.logo-area__left {
    order: 2;
}
.logo-area__middle--logo-image{
  order:1;
}
.logo-area__right{
  order: 3;
}
.logo-area__right {
    flex: 0 1 0;
}
.main-search__results{
  margin: 0 auto;
}
.main-search__results__products {
    margin: 0;
    position: fixed;
    width: -webkit-fill-available;
    background: #ffffffde;
    max-width: 79%;
    padding: 3rem;
}
.logo-area.container.container--no-max {
    border: none;
}

.navigation .navigation__tier-1>.navigation__item>.navigation__link {
  padding: 0 18px;
}
  .navigation{
    border:none;
  }
  .icon-with-caption {
    display: flex;
    gap: 1rem;
  align-items: flex-end;
        justify-content: center;
}
  .flexible-layout, .fixed-layout{
    margin-bottom:0 !important;
  }
  .lg-heading{
    font-size: 66px;
  }
      .custom-padding{
        padding: 70px 60px;
  }
  .section__link{
    width: 15% !important;
  }
  
}
